button {
    overflow: visible
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font: 16px/26px "D-DIN-Regular", Arial, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #fff;
    width: 100%;
}

div {
    display: block;
}

.section-inner {
    position: relative;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

a {
    background-color: transparent;
}

img {
    border-style: none;
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
select {
    text-transform: none;
}


#hamburger,
#menu,
.background,
a.btn {
    overflow: hidden;
}

p {
    line-height: 1.6;
}

.btn .text,
a.btn {
    display: inline-block;
    margin-left: 18px;
}
.btn:hover{
    background-color: white;
}
.btn .text:hover{
    color: black ;
    font-weight: bold;
}

a:active,
a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

img {
    border: 0;
    padding: 0;
}

a {
    font: 16px/24px "D-DIN-Medium", Arial, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
}

a:active {
    outline: 0;
}

a:not(.hover-none):hover {
    color: #ccc;
    text-decoration: none;
}

a.btn {
    position: relative;
    min-width: 130px;
    padding: 0 15px;
    margin: 30px 0 0;
    border: 2px solid #fff;
}

.btn .blox-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform-origin: top center;
    transform: scale3d(1, 0, 1);
}

.btn .text {
    position: relative;
    font: 14px/50px 'D-DIN-Bold', Arial, Verdana, sans-serif;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}

#blox,
.section {
    position: relative
}

#blox,
.background,
.section,
.section-inner {
    display: block;
    width: 100%
}

.section {
    height: 100%;
    margin: 0;
    padding: 0
}

.background {
    position: absolute;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-left-bottom {
    position: absolute;
    bottom: 15%;
    left: 50px;
}

.inner-left-bottom {
    text-align: left;
    width: 60%;
    max-width: 520px;
}

.inner-left-bottom h1 {
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -1px;
    max-width: 520px;
}

.inner-left-bottom p {
    text-transform: uppercase;
}

.scrollme {
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 30px;
    height: 20px;
    margin: 0 0 0 -15px;
}

.scrollme svg path {
    fill: none;
    stroke: #fff;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
}

.header-out {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: left
}

#headermanu,
#headermanu-right {
    position: absolute;
    top: 40px;
    height: 30px
}

#logo {
    position: absolute;
    top: 32px;
    left: 50px;
    width: 210px;
    height: auto;
}

#logo img,
#logo svg {
    display: block;
    width: 100%;
    height: auto;
}

#logo .fill {
    fill: #fff;
}

#headermanu {
    display: inline-block;
    left: 285px;
}

#headermanu-right {
    display: inline-block;
    right: 85px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
}

.nav-links {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
    display: inline-block;
    margin: 0 12px;
}

.nav-links li a {
    display: block;
    line-height: 1.4;
    border-bottom: white;
}
.nav-links li a:hover{
    border-bottom: white ;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}

#headermanu .nav-links li a:hover,
#headermanu-right .nav-links li a:hover {
    color: #fff;
}

.nav-links a {
    position: relative;
    font: 140px/280px "D-DIN-Bold", "Arial", "Verdana", "sans-serif";
    font-weight: 400;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
}

#hamburger,
.bar {
    position: absolute;
}

#hamburger {
    display: block;
    top: 50%;
    right: 50px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
    z-index: 55;
    padding: 0 8px;
    border: 0;
    background: 0 0;
}

#hamburger:active,
#hamburger:focus {
    outline: 0
}

#hamburger {
    cursor: pointer;
}

.bar {
    top: 3px;
    left: 0;
    background-color: #fff;
    width: 100%;
    transform-origin: center center;
    height: 2px
}

#bar2 {
    top: 7px
}

#bar3 {
    top: 11px
}

#menu,
#menu-right {
    position: fixed;
    top: 0;
    height: 100%
}

#menu-right {
    left: 0;
    width: 100%;
    z-index: 11;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    display: block;
}

#footer {
    background: #000
}

#menu {
    right: 0;
    width: 0;
    z-index: 12;
}


#headermanu .nav-links li a:after, #headermanu-right .nav-links li a:after {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right center;
}
#footer {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font: 12px/18px "D-DIN-Bold", Arial, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #979797;
    padding: 20px 0;
}

#footer span {
    font-size: 12px;
    margin: 0 20px;
}

#footer a {
    font: 12px/24px "D-DIN-Bold", Arial, Verdana, sans-serif;
    font-weight: 400;
    color: #fff;
}

#footer a.footer {
    display: inline-block;
    margin: 0 20px;
}

.scrollme {
    opacity: 0;
}
@media screen and (max-width: 960px){
body {
    font: 16px/24px Arial,Verdana,sans-serif;
    font-weight: 400;
    font-style: normal;
}}

@media (max-width: 960px) {
    h1 {
        font-size: 36px;
        line-height: 36px;
    }
}

@media only screen and (min-width: 961px) {
    #hamburger {
        margin-top: 2px
    }
}

@media screen and (min-width: 1700px) {
    p {
        line-height: 1.75;
        font-size: 17px
    }
}

@media screen and (max-width: 1200px) {
    .inner-left-bottom {
        max-width: 420px
    }
}

@media (max-width: 900px) {

    #scrollme {
        display: none
    }
}

@media screen and (max-width: 600px){
    video{
        width: 8%;
        height: auto;
    }  
}
@media screen and (max-width: 600px){
.section, .section-inner {
    height: auto;
}}  
@media screen and (max-width: 960px){  
.background video {
    position: absolute;
    bottom: 0;
    top: auto;
    left: -25%;
    height: auto;
}}
@media  screen and (max-width:600px) {
    .background{
        background-position: center bottom;
        height: 100vh;
    }
    
}
@media screen and (max-width: 600px){
.section, .section-inner {
    height: auto;
}}
#wrapper, .background, .section, .section-inner {
    display: block;
}



:root {
    --bs-body-bg: #000;
    --bs-body-bg-rgb: 0, 0, 0;
    --bs-body-color: #fff;
    --bs-body-color-rgb: 255, 255, 255;
    --bs-border-radius: 0
}

h1,
h2 {
    color: #fff
}

h1 {
    position: relative;
    font-family: "D-DIN-Bold", "Arial", "Verdana", "sans-serif";
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    line-height: 48px;
    color: #FFFFFF;
    margin: auto;
    text-transform: uppercase;
    opacity: 1;
    visibility: inherit;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate3d(0px, 0px, 0px);
}

h2 {
    text-transform: uppercase;
    position: relative;
}
